<div class="wrap-body">
    <!-- Container-->
    <section id="container">
        <div class="wrap-container">
            <section class="content-box box-1">
                <div class="zerogrid">
                    <div class="header">
                        <h2 class="heading">
                            <span>Nuestras marcas</span>
                        </h2>
                        <p>Ofrecemos las mejores marcas para nuestros clientes.</p>
                    </div>
                    <div class="swiper row">
                        <!--Start Box-->
                        <div class="swiper-wrapper" id="logo">
                            <!-- Logo Card -->
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </section>
            <section class="content-box box-2">
                <!--Start Box-->
                <div class="zerogrid">
                    <div class="row">
                        <div class="header">
                            <h2 class="heading">
                                <span>Welcome</span>
                            </h2>
                        </div>
                        <p>Sed ut perspiciatis unde om nis natus error sit volup atem accusant dolorem que laudantium. <br> perspiciatis unde om nis natus error sit volup atem accusant dolorem que laudantium. Totam aperiam, eaque ipsa quae ai.</p>
                    </div>
                </div>
            </section>
            <section class="content-box box-3">
                <!--Start Box-->
                <div class="zerogrid">
                    <div class="row" id="ppost">
                        <div class="header">
                            <h2 class="heading">
                                <span>Nuestras categorias</span>
                            </h2>
                        </div>
                        <!-- <div class="post">
                            <div class="col-1-2">
                                <img src="view/images/23.jpg"/>
                            </div>
                            <div class="col-1-2">
                                <div class="wrapper">
                                    <h3>The title on the article</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus.</p>
                                    <a class="btn" href="#">Read More</a>
                                </div>	
                            </div>
                        </div> -->
                    </div>
                </div>
            </section>
            <section class="content-box box-4">
                <!--Start Box-->
                <div class="zerogrid">
                    <div class="row">
                        <div class="header">
                            <h2 class="heading">
                                <span>Service</span>
                            </h2>
                        </div>
                        <div class="swiper" id="type_swiper">
                            <!--Start Box-->
                            <div class="swiper-wrapper" id="typeItem">
                                <!-- Logo Card -->
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                        <!-- <div class="col-1-4">
                            <div class="wrap-col item">
                                <i class="fa fa-bar-chart-o"></i>
                                <h3>Results Driven</h3>
                                <p>Sed ut perspiciatis unde om nis natus error sit volup atem accusant dolorem que laudantium. Totam aperiam, eaque ipsa quae ai.</p>
                            </div>
                        </div>
                        <div class="col-1-4">
                            <div class="wrap-col item">
                                <i class='fa fa-road'></i>
                                <h3>Proven Technology</h3>
                                <p>Sed ut perspiciatis unde om nis natus error sit volup atem accusant dolorem que laudantium. Totam aperiam, eaque ipsa quae ai.</p>
                            </div>
                        </div>
                        <div class="col-1-4">
                            <div class="wrap-col item">
                                <i class='fa fa-flag-checkered'></i>
                                <h3>Winning Culture</h3>
                                <p>Sed ut perspiciatis unde om nis natus error sit volup atem accusant dolorem que laudantium. Totam aperiam, eaque ipsa quae ai.</p>
                            </div>
                        </div>
                        <div class="col-1-4">
                            <div class="wrap-col item">
                                <i class='fa fa-dashboard'></i>
                                <h3>Top Performance</h3>
                                <p>Sed ut perspiciatis unde om nis natus error sit volup atem accusant dolorem que laudantium. Totam aperiam, eaque ipsa quae ai.</p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </section>
            <section id="newsSection" class="content-box box-5">
                <!--Start Box-->
                <div class="zerogrid">
                    <div class="row">
                        <div class="header">
                            <h2 class="heading">
                                <span>Noticias</span>
                            </h2>
                        </div>
                        <!-- <div class="col-1-3">
                            <div class="wrap-col item">
                                <h3 class="item-header">WELCOME to our site</h3>
                                <span>LOREM IPSUM DOLOR SIT AMET, CONSEC TEER ADIPISCING. PRSENT VESTIBULUM.</span>
                                <img src="view/images/logo.png" />
                                <p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix. Et vel quod legimus, graeci electram ocurreret at his. Vix at tation facete impetus omnesque ius harum antiopam.</p>
                                <a class="btn" href="#">More</a>
                            </div>
                        </div>
                        <div class="col-1-3">
                            <div class="wrap-col item">
                                <h3 class="item-header">CARE & SUPPORT</h3>
                                <span>LOREM IPSUM DOLOR SIT AMET, CONSEC TEER ADIPISCENT VESTIBULUM.</span>
                                <p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix. Et vel quod legimus, graeci electram ocurreret at his. Vix at tation facete impetus omnesque ius harum antiopam.</p>
                                <ul class="link">
                                    <li><a href="#"> ASETY KSCABO</a></li>
                                    <li><a href="#"> NERAFAES</a></li>
                                    <li><a href="#"> KERTYU ERSVITA ERTYA</a></li>
                                    <li><a href="#"> SNEMO LASEC VASP</a></li>
                                    <li><a href="#"> TAIADES GOERTAYSE</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-1-3">
                            <div class="wrap-col item" style="border-right: none;">
                                <h3 class="item-header">LATEST NEWS</h3>
                                <span>LOREM IPSUM DOLOR SIT AMET</span>
                                <p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix.</p>
                                <hr style="border: 1px dashed #ccc;margin: 17px 0;">
                                <span>LOREM IPSUM DOLOR SIT AMET</span>
                                <p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix.</p>
                                <hr style="border: 1px dashed #ccc;margin: 17px 0;">
                                <span>LOREM IPSUM DOLOR SIT AMET</span>
                                <p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix.</p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </section>
        </div>
    </section>

    <!-- Google Map -->
</div>