<div class="slider">
    <div class="callbacks_container" >
        <ul class="rslides" id="slider">
            <li>
                <img id="slider_img" src="view/images/slideshow-image1.jpg" alt="">
                <div class="caption">
                    <h1>CONCESIONARIO GUEROLA</h1>
                    <span >Vehículos Kilómetro 0</span>
                </div>
            </li>
            <li>
                <img id="slider_img" src="view/images/slideshow-image2.jpg" alt="">
                <div class="caption">
                    <h1>CONCESIONARIO GUEROLA</h1>
                    <span >Vehículos de OCASIÓN</span>
                </div>
            </li>
            <li>
                <img id="slider_img" src="view/images/slideshow-image3.jpg" alt="">
                <div class="caption">
                    <h1>CONCESIONARIO GUEROLA</h1>
                    <span >Todo para su transporte.</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>