<!-- Toastr -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<!-- Jquery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

<!-- ShopController -->
<link rel="stylesheet" href="view/css/shopList.css">
<link rel="stylesheet" href="view/css/details.css">

<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="view/css/swiper.css">

<!-- <link rel="stylesheet" href="view/fancybox/jquery.fancybox.css">
<script src="view/fancybox/jquery.fancybox.js"></script>  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<!-- <script src="view/js/ajaxPromises.js"></script> -->

<!-- CodeSandbox Filters -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
<script src="https://kit.fontawesome.com/b0653de197.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap" rel="stylesheet" />

<!-- FancyApps -->
<link rel="stylesheet" href="view/css/thumbCarousel.css">

<!-- <script src="module/shop/view/include/js/filter.js"></script> -->
<link rel="stylesheet" href="view/css/filtersDiv.css">
<script type="module" src="module/shop/controller/ShopController.js"></script>
<script src="module/search/controller/SearchMenuController.js"></script>
<script type="module" src="module/auth/controller/AuthController.js"></script>
<link rel="stylesheet" href="view/css/LoginForm.css">


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1Q7SznVGu2-3Fez0cXbilC5XlDGtsv8Y&callback=initMap&libraries=&v=weekly"></script>
<!-- <script src="https://pagination.js.org/dist/2.1.5/pagination.js"></script> -->
<script type="text/plain" src="https://raw.githubusercontent.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<style>
    .swiper {
        width: 90%;
        height: 400px;
    }
</style>