.dropbtn {
    /* background-color: #4CAF50; */
    /* margin-top: 10px; */
    color: white;
    padding: 25px;
    padding-top: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    padding-top: 0px;
    height: fit-content;
    width: fit-content;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content #userLink {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#userLink {
    cursor: pointer;
}

.dropdown-content #userLink:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */